body {
	background-color: white;
	background-size: 100%;
	background-position: right 300px bottom 100%;
	background-attachment: fixed;
	width: 600px;
	font-family: Helvetica;
	font-size: 14px;
}

h1 {
	font-family: Futura;
	font-size: 38px;
	margin: auto;
	color: white;
}

#header{
	background-color: dodgerblue;
	height: 50px;
	padding: 10px;
}

#urlHaus{
	padding: 10px;
	text-align: center;
}

#urlRatingElement {
	display: inline-block;
	color: black;
	font-family: Helvetica;
}

#thumbsUp {
	float: left;
}

#thumbsDown {
	float: right;
	color: red;
}

#ratings {
	display: inline-block;
	color: green;
	width: 30%;
	margin-left: 35%;
	text-align: center;
}


.tab {
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: lightblue;
  width:100%;
}

/* Style the buttons that are used to open the tab content */
.tab div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 44.6%;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab div:hover {
  background-color: dodgerblue;
  color: white;
}

/* Create an active/current tablink class */
.tab div.active {
  background-color: dodgerblue;
}

/* Style the tab content */
.tabcontent {
  text-align: center;
  display: none;
  padding: 20px 10px 10px 10px;
  border: 1px solid #ccc;
  border-top: none;
}